/* Add the following styles for the time */
.messageTime_company {
  font-size: 70%;
  color: #888;
  position: absolute;
  bottom: 0;
  right: 5%;
  padding: 0.1rem;
  margin-top: 10px; /* Increase the margin-top for more space between message and time */
}

/* Adjust the styles for the message box */
.messageBox_company {
  position: relative;
  margin-bottom: 10px;
  min-width: 50px; /* Set a minimum width for the message box */
  max-width: 80%; /* Adjust the max-width as needed */
}

/* Ensure the message box has relative positioning */
.messageContainer_company {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding: 0 5%;
  margin-top: 3px;
}

.messageBox_company{
  background: #F3F3F3;
  border-radius: 20px;
  padding: 10px; /* Adjust padding for better spacing */
  margin-top: 10px; /* Add margin-top to create space between message and time */
  color: white;
  display: inline-block;
  position: relative;
  overflow: hidden; /* Hide overflow content if necessary */
}

.messageText_company {
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-size: 1.1em;
  word-wrap: break-word;
  margin-bottom: 1rem;
  overflow-wrap: anywhere;
  white-space: pre-line;
}

.messageText_company img {
  vertical-align: middle;
}

.sentText_company {
  display: flex;
  align-items: center;
  font-family: Helvetica;
  color: #828282;
  letter-spacing: 0.3px;
}

.pl-10_company {
  padding-left: 10px;
}

.pr-10_company {
  padding-right: 10px;
}

.justifyStart_company {
  justify-content: flex-start;
}

.justifyEnd_company {
  justify-content: flex-end;
}

.colorWhite_company {
  color: #FFFAFA;
}

.colorDark_company {
  color: #353535;
}

.backgroundBlue_company {
  background: #2979FF;
}

.backgroundLight_company {
  background: #F3F3F3;
}
